
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
main {
  padding: 20px;
}

/* Horizontal line style */
.full-line {
  border: none;
  height: 1px;
  background-color: grey;
  width: 100%;
  margin: 20px 0; /* optional space above/below */
}
.no-hay-text {
  font-size: 0.9em;
  color: #b94a48; /* muted red */
  margin-top: 4px; /* space under the link */
}

@media screen and (max-width: 768px) {
  .no-hay-text {
    font-size: 0.8em;
    color: #d77b78; /* softer muted red for mobile */
  }
}
.date-format {
  font-size: 0.85em;   /* slightly smaller */
  color: #888;         /* lighter grey */
  font-weight: normal; /* optional: remove bold */
}
